.About{
    height: 90vh;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(black,rgb(112, 112, 3),blue);
    padding-top:10%;
}

.innerAbout{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    color:white!important;
    font-weight: bold;
}
.pAbout{
    color:white!important;    
}
@media screen and (max-width: 420px) {
    .About{
        height: 200vh;
    }
}