
.CartForm{
    height: 90vh;
    background: White;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(black,rgb(180, 245, 245),blue);
}
.cartTitle{
    color:white;
}
.ticket{
    text-decoration: none;
}
.liTicket{    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 300px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border-style: none none solid none;
    text-align: center;
}
.liTicketHeader{    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 300px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border-style: none none double none;
    margin-bottom: 20px;
    color:red;
    text-align: center;
}
.ulTicket{
    text-decoration: none;
}
.itemName{
    display:flex;
    flex-direction: row;    
    width: 30%;
}
.price{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: 30%;
}

.totalLine{
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
    width: 300px;
    font-size: 25px;
    font-weight: bold;
}
.finishButton{
    display:flex;
    background: gold;
    width: auto;
    height: auto;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px black ;
}
.trash{
    background: transparent;
    border-style: none;
}
.trash:hover{
    font-size: 20px;
}
@media screen and (max-width: 420px) {
    .CartForm{
        height: 200vh;
    }
}