
.footerClass{
    display:grid;
    resize: both;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    height: auto;
    
}
.leftSpace{
    display:flex;
    flex-direction: column;
    justify-content: start;
    background: rgb(167, 166, 166);
}
.rightSpace{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: gray;
}


@media screen and (max-width: 768px) {
  .footerClass {
    display:grid;
    resize: both;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    height: auto;
  }
}