.Home{
    height: 90vh;
    background:transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25%;

}
.mainImage{
    font-size:150px;
    color:rgb(224, 148, 148);
}
@media screen and (max-width: 768px) {
    .Home{
        height: 200vh;
    }
}