
.Shop{
    height: 90vh;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ItemsArray{
    display:flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
@media screen and (max-width: 420px) {
    .Shop{
        height: 200vh;
    }
}